@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h2>
        <a href="Privacy">Privacy </a>
        <a href="Menu">Menu</a>
        <a href="About">About</a>
    </h2>
<div id="bannerimage"></div>