<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Price">
            <summary>
            setter and getter for the price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Calories">
            <summary>
            setter and getter for the field calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            getter of th property Ingerdiants
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Constructs a new instance of TrexKingBurger with price property sets to 5.36 and calories property sets to 498
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            A methode to hold the papers  and sets the  papers field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            A methode to hold the Onion  and sets the Onion field to False
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            A methode to hold the Bun and sets the Whole_wheat_bun fieldto False
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            a class 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Price">
            setter and getter for the price property 
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Calories">
            <summary>
            setter and getter for the calories property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            getter for the Ingerdiants property 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
             <summary>
            Constructs a new instance of TrexKingBurger with price property sets to 4.25 and calories property sets to the number of the nuggets multiplaied with the calory of one(59 calories) 
             </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            A methode to add Nuggets to the order it increments the field Nuggets by one and olso update the price and the calories
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.EntreeBase">
            <summary>
            an abstract class with 3 properties
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.EntreeBase.Price">
            <summary>
            setter and getter fot the Price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.EntreeBase.Calories">
            <summary>
            setter and getter fot the calories property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.EntreeBase.Ingredients">
            <summary>
            getter for the Ingrediants property
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Price">
            <summary>
            settter and getter of the price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Calories">
            <summary>
            setter ang getter of the calories property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            getter of the property Igrediants
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Constructs a new instance of PterodactylWings with price property sets to 6.52 and calories property sets to 483
            </summary>
        </member>
        <!-- Badly formed XML comment ignored for member "M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter" -->
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            A methode to hold the Jelly and sets the Jelly field to False 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            a class representing an entree plate 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Price">
            <summary>
            setter and getter of the price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Calories">
            <summary>
            setter and getter of the calories property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            getter of the Calories property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Constructs a new instance of PterodactylWings with price property sets to 7.21 and calories property sets to 318
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            a class representing a Entree plate
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Price">
            <summary>
            getter of the price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Calories">
            <summary>
            getter of the Calories property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            getter of the Ingerdiants property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Constructs a new instance of steakosaaurusburger with price property sets to 5.15 and calories property sets to 621
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
             A methode to hold the Bun and sets the Whole_wheat_bun field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
             A methode to hold the Pickle and sets the  Pickle field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
             A methode to hold the Ketchup and sets the Ketchup field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
             A methode to hold the Mustard and sets the Mustard field to False 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            a class representing  an entree plaate 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Price">
            <summary>
            Sets and Get the price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Calories">
            <summary>
            sets and gets the calories properties
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            getter of the Ingerdiants property
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Constructs a new instance of TrexKingBurger with price property sets to 8.45 and calories property sets to 728
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            A methode to hold the Bun and sets the whole_wheat_bun field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            A methode to hold the Pickle and sets the Pickle field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            A methode to hold the Ketchup and sets the Ketchup field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            A methode to hold the Mustard and sets the Mustard field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            A methode to hold the Tomato and sets the Tomato field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            A methode to hold the Onion and sets the Onion field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            A methode to hold the Lettuce and sets the Lettuce field to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
             A methode to hold the Mayo and sets the Mayo field to False 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            a class representing an entree plate
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Price">
            <summary>
            Sets and Get the price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Calories">
            <summary>
            sets and gets the calories properties
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            getter of the Ingerdiants property
            </summary>
        </member>
        <!-- Badly formed XML comment ignored for member "M:DinoDiner.Menu.Entrees.VelociWrap.#ctor" -->
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            A methode to hold the Dressing and sets the Ceasser_dressing to False 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            A methode to hold the Lettuce and sets the romaine_lettuce to False
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
             A methode to hold Cheese and sets the parmesan_cheese to False
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
    </members>
</doc>
